.endScreenLBL {
    -unity-text-align: upper-center;
    font-size: 50px;
    color: rgb(0, 0, 0);
    -unity-font-style: bold;
    -unity-font-definition: url('project://database/Assets/Art/Font/Pirate%20Scripts%20SDF.asset?fileID=11400000&guid=9569c77653398344bab4efcdeda613d2&type=2#Pirate Scripts SDF');
}
