.background {
    -unity-background-scale-mode: scale-and-crop;
    background-image: url('project://database/Assets/Art/UI/Menus/Background%20selection.png?fileID=2800000&guid=40bf30c72382f1f44b0a03ee73b92e4b&type=3#Background selection');
}

.labelInfos {
    position: absolute;
    left: 50px;
    bottom: 50px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}
